<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>


<p>Hello <%= @currentUser.username %> how is your day going?</p>

<p>Here is your profile information:</p>


<p>Here are your posts:</p>